<p> Hello! My name is Fayaz</p>
<h1>tacos!</h1>

<p>There are so many delish tacos</p>

<% fillings =["Carnitas","Cheetos","Mentos", "Mushroom"] %>

<ul>
<% for filling in fillings %>
<li><%=filling%> </li>
<% end %>
</ul>
</body>
</html>
